@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

.profileEdit {
    font-family: 'Roboto';
    color: #414141;

    &__button {
        margin-top: 120px;
    }

}