@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

.restaurant {
    font-family: 'Roboto';
    color: #414141;

    &__card {
        box-shadow: 0px 0px 4px -1px rgba(0, 0, 0, 0.10) inset;
        border-radius: 10px;
        padding: 10px;
    }

}

.bg-gray-100 {
    margin: 2px 2px; 
  }