@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

.register {
    font-family: 'Roboto';
    margin: 40px;
    color: #414141;

    &__title {
        font-size: 24px;
        font-weight: bolder;
        margin-bottom: 40px;
    }

    &__label {
        font-size: 10px;
    }

    &__button {
        font-family: 'Roboto';
        width: 100%;
        font-size: 14px;
        font-weight: 700;
        border-radius: 5px;
        background-color: #FFE031;
    }
    
    &__input {
        border: none;
        border-bottom: 1px solid lightgray;
        outline: none;
      }
}
