@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

.login {
  font-family: 'Roboto';
  margin: 40px;
  gap: 20rem;

  &__title {
    font-weight: 700;
    font-size: 20px;
  }

  &__text {
    font-size: 14px;
  }

  &__textDown {
    font-size: 10px;
  }

  &__button {
    font-family: 'Roboto';
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    border-radius: 5px;
  }


}


